.formBox{
    width: 40vw;
    height: 40vw;
    padding: 1rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f5f0f0;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.input{
    width: 70%;
    height: 70%;
    max-height: 50px;
    padding: 0 5% 0 5%;
    border-radius: 25px;
    border:0;
    font-size: 0.9rem;
    margin-bottom: 5%;
}
.input:focus{
    outline: none;
}
.link{
    color: #31BED6;
    text-decoration: none;
}
.link:hover{
    cursor: pointer;
}
.selectInput{
    width: 80%;
    height: 70%;
    max-height: 50px;
    padding: 0 5% 0 5%;
    border-radius: 25px;
    border:0;
    font-size: 0.9rem;
    margin-bottom: 5%;
}
.text{
    font-size: 0.7rem;
}
.logo{
    width: 65%;
    height: 50%;
}
