.disabled{
    background-color: grey !important;
    border-radius: 25px;
}
.active {
    background-color: #31BED6;
    border-radius: 25px;

}
.button{
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    line-height: 50px;
    text-align: center;
    width: 10rem;
    height: 5rem;
    max-height: 50px;
    max-width: 250px;

}
.buttonDisabled{
    cursor: not-allowed;
}

.buttonActive {
    cursor: pointer;
}


.buttonActive::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.buttonActive:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.buttonActive::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    transform: scale(1.2,1.2);
    border-radius: 25px;

}
.buttonActive:hover::after {
    opacity: 1;
    transform: scale(1,1);
}