.main{
    height: 78%;
    width: 100%;
    background-image: url("../../../assets/chat-background.png");
    background-color:#DBD8E3 ;
    display: flex;
    flex-direction: row;
}
.messagesContainer{
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    overflow: auto;

}
